* {
    margin: 0;
    padding: 0;
}

body {
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    background-color:#92A8D1;
    color: #34568B;
}

h1, h2 {
    margin: 15px;
}

li {
    display: inline-block;
    padding: 0px 20px;
    text-decoration: none;
}

a {
    text-decoration: solid;
    color: white;
}
main {
    padding: 80px;
}
header, footer {
    background-color:#34568B;
    color: white;
    height: 90px;
    width: 100%;
    align-items: center;
    
}

footer {
    position: relative;
}